.header {
    background: #000;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}